
@{
    ViewData["Title"] = "門市據點";
}
<!--載入google map-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBayPidrH0yQql4BzYCXr7SIs08AEEcMgU">
</script>
<!--設定地圖大小-->
<style>
    #map {
        height: 600px;
        width: 50vw;
    }
</style>

<div id="StoreInfo">

    <div id="storeMap">
        <!--門市地圖-->
        <div id="map" class="embed-responsive rounded"></div>
        <!--搜尋門市功能-->
        <div class="search">
            <div id="select-store" class="input-group  mb-4 text-center select-color">
                <select v-model="cityVal" @@change="qryCity(cityVal)" class="form-select form-inline mr-2">
                    <option value="default">選擇縣市</option>
                    <option :value="city" v-for="city in cityList">{{city}}</option>
                </select>
                <select v-model="distVal" @@change="qryDist()" class="form-select form-inline mr-2">
                    <option value="default">選擇地區</option>
                    <option :value="dist" v-for="dist in distList">{{dist}}</option>
                </select>
                <input type="text" name="store" value="" placeholder="請輸入門市名稱" v-model="keyWord" class="form-control form-inline" @@input="storeSearch" />
            </div>
            <!--門市清單-->
            <div id="storeList" class="container p-0">
                <ul style="list-style-type:none" class="list-group" v-for="list in storeList">
                    <li class="list-group-item pointer d-flex align-content-center mb-2 shadow-sm list-color" :value="list.StoreID" @@click="changeMap(list.StoreID)">
                        <h5 class="font-weight-bold fs-5 list-header">{{list.StoreName}}</h5>
                        <div class="list-content">
                            {{list.StoreCity}}{{list.StoreDistrict}}{{list.StoreAddress}}
                            <br />
                            {{list.StorePhone}}
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-light rounded-pill btn-addtocart" @@click="selectStore(list.StoreID)">前往訂餐</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script>

    var app = new Vue(
        {
            el: '#StoreInfo',
            data: {
                allStoreData: [], //全部門市資料
                cityList: [],
                distList: [],
                storeList: [],
                cityVal: "", //儲存選中的
                distVal: "",
                keyWord: "", //搜尋內容
                googleMap: {
                    map: "",
                    lat: 0, //中心座標
                    lng: 0,
                    currentInfoWindow: "",
                },



            },
            methods: {
                //變更城市下拉選單
                qryCity(city) {
                    //選單變回預設
                    this.distVal = "default";
                    this.distList = [];
                    //清空搜尋欄
                    this.keyWord = "";

                    if (this.cityVal !== "default") {
                        //篩選門市清單
                        this.storeList = this.allStoreData.filter(i => i.StoreCity == city);
                        //取得區域資料
                        axios(`/api/StoreService/${city}/dist`)
                            .then(response => { this.distList = response.data })
                            .catch(error => console.log(error));
                    } else {
                        //預設顯示全部門市
                        this.storeList = this.allStoreData;
                    }
                },
                //變更區域下拉選單
                qryDist() {
                    this.keyWord = ""; //搜尋欄清空
                    if (this.distVal !== "default") {
                        //篩選門市清單
                        this.storeList = this.allStoreData.filter(i => i.StoreDistrict == this.distVal);
                    } else {
                        this.storeList = this.allStoreData.filter(i => i.StoreCity == this.cityVal);
                    }

                },
                //將門市資料存cookie(點擊前往訂餐)
                selectStore(id) {
                    let d = new Date();
                    d.setTime(d.getTime() + 1 * 24 * 60 * 60 * 1000);
                    let expires = "expires=" + d.toUTCString();
                    let cookie = document.cookie = `storeid=${id}; ${expires}; path=/;`;
                    window.location.href = "/Products/OrderProducts";
                },
                //初始化 google map
                initialMap() {
                    //建立地圖
                    this.googleMap.map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: this.googleMap.lat, lng: this.googleMap.lng, }, // 中心點座標
                        zoom: 12,
                        mapTypeId: 'roadmap',
                    });

                    [].forEach.call(this.allStoreData, (data, index) => {
                        //放置多個marker
                        let letLng = new google.maps.LatLng(data.Lat, data.Lng);
                        let marker = new google.maps.Marker({
                            position: letLng,
                            icon: "/images/map/mapicon.png",
                            map: this.googleMap.map,
                            title: data.StoreName
                        });
                        //資訊視窗
                        let infoWindow = new google.maps.InfoWindow({
                            content: `<div class="align-items-center p-2">
                                        <h5 class="mt-2 mb-3 fw-bold">${data.StoreName}</h5>
                                        <img src="/images/map/store.jpg" class="img-fluid img-thumbnail imageSize mb-3"/>
                                        <p class="fs-6"><i class="fas fa-clock"></i> 10:00 ~ 23:00</p>
                                        <p class="fs-6"><i class="fas fa-phone-alt"></i> ${data.StorePhone}</p>
                                        <p class="fs-6"><i class="fas fa-map-marker-alt"></i> ${data.StoreAddress}</p>
                                        </div>`,
                            maxWidth: 300,
                        });
                        //marker綁定click事件
                        google.maps.event.addListener(marker, "click", () => {
                            //關閉前一個infowindow
                            if (this.googleMap.currentInfoWindow != "") {
                                this.googleMap.currentInfoWindow.close();
                                this.googleMap.currentInfoWindow = "";
                            }
                            infoWindow.open(this.googleMap.map, marker);
                            this.googleMap.currentInfoWindow = infoWindow;
                        });
                        //預設開啟
                        if (index == 0) {
                            infoWindow.open(this.googleMap.map, marker);
                            this.googleMap.currentInfoWindow = infoWindow;
                        }
                    });
                    //點擊地圖關閉infowindow
                    google.maps.event.addListener(this.googleMap.map, "click", () => {
                        this.googleMap.currentInfoWindow.close();
                    });

                },
                //動態改變map經緯度
                changeMap(storeid) {
                    let data = this.allStoreData.filter(i => i.StoreID == storeid);
                    let latLng = new google.maps.LatLng(data[0].Lat, data[0].Lng);
                    this.googleMap.map.panTo(latLng);
                },
            },
            created() {
                //取得分店所有資料
                axios('/api/StoreService/store')
                    .then(response => {
                        this.allStoreData = JSON.parse(response.data);
                        //取得第一筆經緯度
                        this.googleMap.lat = this.allStoreData[0].Lat;
                        this.googleMap.lng = this.allStoreData[0].Lng;
                        //取得資訊後建立地圖物件
                        this.initialMap();
                    })
                    .catch(error => console.log(error));
                //取得城市清單
                axios('/api/StoreService/city')
                    .then(response => { this.cityList = response.data })
                    .catch(error => console.log(error));
                //下拉選單預設
                this.cityVal = "default";
                this.distVal = "default";




            },
            computed: {
                //搜尋門市功能
                storeSearch() {
                    if (this.keyWord != "") {
                        //有搜尋關鍵字 下拉選單變回預設
                        this.cityVal = "default";
                        this.distVal = "default";
                        this.distList = [];
                        //傳回搜尋結果
                        this.storeList = [];
                        this.storeList = this.allStoreData.filter(searchResult => searchResult.StoreName.match(this.keyWord));
                    } else {
                        this.storeList = this.allStoreData;
                    }
                },
            },
        }
    )



</script>
