
@{
    ViewData["Title"] = "門市據點";
}
<!--載入google map-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBayPidrH0yQql4BzYCXr7SIs08AEEcMgU">
</script>
<!--設定地圖大小-->
<style>
    #map {
        height: 600px;
        width: 50vw;
    }
</style>

<div id="StoreInfo">

    <div id="storeMap">
        <!--門市地圖-->
        <div id="map" class="embed-responsive"></div>
        <!--搜尋門市功能-->
        <div class="search">
            <div id="selectStore" class="input-group  mb-3 text-center">
                <select v-model="cityVal" @@change="qryCity(cityVal)" class="form-select form-inline mr-2">
                    <option value="default">選擇縣市</option>
                    <option :value="city" v-for="city in cityList">{{city}}</option>
                </select>
                <select v-model="distVal" @@change="qryDist()" class="form-select form-inline mr-2">
                    <option value="default">選擇地區</option>
                    <option :value="dist" v-for="dist in distList">{{dist}}</option>
                </select>
                <input type="text" name="store" value="" placeholder="請輸入門市名稱" v-model="keyWord" class="form-control form-inline" @@input="storeSearch" />
            </div>
            <!--門市清單-->
            <div id="storeList">
                <!--下拉選單產生清單-->
                <ul style="list-style-type:none" class="list-group">
                    <li class="list-group-item" :value="list.storeID" v-for="list in storeList">
                        <label>{{list.StoreName}}</label>
                        {{list.StoreCity}}{{list.StoreDistrict}}{{list.StoreAddress}} |
                        {{list.StorePhone}}
                        <!--/Products/OrderProducts-->
                        <button type="button" class="btn btn-outline-dark" @@click="selectStore(list.StoreID)">前往訂餐</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    let currentInfoWindow = "";
    //點li改變map latlng
    //$(function () {
    //    $("body").on("click", "li", function (e) {
    //        app.changeMap(e);
    //    });
    //})
    var app = new Vue(
        {
            el: '#StoreInfo',
            data: {
                allStoreData: [], //全部門市資料
                cityList: [],
                distList: [],
                storeList: [],
                cityVal: "", //儲存選中的
                distVal: "",
                keyWord: "", //搜尋內容
                googleMap: {
                    map: "",
                    lat: 0,
                    lng: 0,
                    markerData: [], //google map marker
                    marker: [],
                    infoWindow: [],
                },



            },
            methods: {
                //變更城市下拉選單
                qryCity(city) {
                    //選單變回預設
                    this.distVal = "default";
                    this.distList = [];
                    //清空搜尋欄
                    this.keyWord = "";

                    if (this.cityVal !== "default") {
                        //篩選門市清單
                        this.storeList = this.allStoreData.filter(i => i.StoreCity == city);
                        //取得區域資料
                        axios(`/api/StoreService/${city}/dist`)
                            .then(response => { this.distList = response.data })
                            .catch(error => console.log(error));
                    } else {
                        //預設顯示全部門市
                        this.storeList = this.allStoreData;
                    }
                },
                //變更區域下拉選單
                qryDist() {
                    this.keyWord = ""; //搜尋欄清空
                    if (this.distVal !== "default") {
                        //篩選門市清單
                        this.storeList = this.allStoreData.filter(i => i.StoreDistrict == this.distVal);
                    } else {
                        this.storeList = this.allStoreData.filter(i => i.StoreCity == this.cityVal);
                    }

                },
                //將門市資料存cookie(點擊前往訂餐)
                selectStore(id) {
                    let d = new Date();
                    d.setTime(d.getTime() + 1 * 24 * 60 * 60 * 1000);
                    let expires = "expires=" + d.toUTCString();
                    let cookie = document.cookie = `storeid=${id}; ${expires}; path=/;`;
                    window.location.href = "/Products/OrderProducts";
                },
                //初始化 google map
                initialMap() {
                    //建立地圖
                    this.googleMap.map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: this.googleMap.lat, lng: this.googleMap.lng, }, // 中心點座標
                        zoom: 12,
                        mapTypeId: 'roadmap',
                    });

                    [].forEach.call(this.allStoreData, data => {
                        //放置多個marker
                        this.googleMap.markerData = new google.maps.LatLng(data.Lat, data.Lng);
                        this.googleMap.marker = new google.maps.Marker({
                            position: this.googleMap.markerData,
                            icon: "/images/map/mapicon.png",
                            map: this.googleMap.map,
                            title: data.StoreName
                        });
                        //資訊視窗
                        this.googleMap.infoWindow = new google.maps.InfoWindow({
                            content: `<h5>${data.StoreName}</h5>
                                        <p>地址:${data.StoreAddress}</p>
                                        <a href="#" class="btn btn-outline-dark btn-sm" @@click="selectStore(${data.StoreID})">前往訂餐</a>`,
                            maxWidth: 300,
                        });



                    });
                   
                    
                },
                setMarker() {



                },
                //initMap() {
                //    let initLocation = { lat: 25.0405139, lng: 121.4434502};
                //    //建立地圖
                //    this.map = new google.maps.Map(document.getElementById('map'), {
                //        center: initLocation, // 中心點座標
                //        zoom: 12, // 1-20，數字愈大，地圖愈細：1是世界地圖，20就會到街道
                //        /*
                //          roadmap 顯示默認道路地圖視圖。
                //          satellite 顯示 Google 地球衛星圖像。
                //          hybrid 顯示正常和衛星視圖的混合。
                //          terrain 顯示基於地形信息的物理地圖。
                //        */
                //        mapTypeId: 'roadmap'
                //    });
                //    //放置多個marker
                //    axios('/js/mapData.json')
                //        .then(results => results.data)
                //        .then(result => {
                //            this.markerData = result.features;
                //            Array.prototype.forEach.call(this.markerData, data => {
                //                latLng = new google.maps.LatLng(data.geometry.coordinates[0], data.geometry.coordinates[1]);
                //                let marker = new google.maps.Marker({
                //                    position: latLng,
                //                    icon: "/images/map/mapicon.png",
                //                    map: this.map,
                //                    title: data.properties.name
                //                });
                //                //資訊視窗
                //                let infowindow = new google.maps.InfoWindow({
                //                    content: `<h5>${data.properties.name}</h5>
                //                        <p>地址:${data.properties.site}</p>
                //                        <a href="#" class="btn btn-outline-dark btn-sm" onclick="selectStore(${data.properties.id})">前往訂餐</a>`,
                //                    maxWidth: 300,
                //                });
                //                google.maps.event.addListener(marker, "click", () => {
                //                    //關閉前一個infowindow
                //                    if (currentInfoWindow != "") {
                //                        currentInfoWindow.close();
                //                        currentInfoWindow = "";
                //                    }
                //                    infowindow.open(map, marker);
                //                    currentInfoWindow = infowindow;
                //                });
                //        });
                //        })
                //},
                //動態改變map經緯度
                //changeMap(e) {
                //    let liVal = $(e.target).attr("value");
                //    console.log(liVal);
                //    let data = this.mapfeatures.filter(i => i.properties.id == liVal);
                //    console.log(data);
                //    lat = data[0].geometry.coordinates[0];
                //    lng = data[0].geometry.coordinates[1];
                //    latLng = new google.maps.LatLng(lat, lng);
                //    this.map.setCenter(latLng);
                //},
            },
            created() {
                //取得分店所有資料
                axios('/api/StoreService/store')
                    .then(response => {
                        this.allStoreData = JSON.parse(response.data);
                        //取得第一筆經緯度
                        this.googleMap.lat = this.allStoreData[0].Lat;
                        this.googleMap.lng = this.allStoreData[0].Lng;
                        //取得資訊後建立地圖物件
                        this.initialMap();
                        //
                        this.setMarker();
                    })
                    .catch(error => console.log(error));
                //取得城市清單
                axios('/api/StoreService/city')
                    .then(response => { this.cityList = response.data })
                    .catch(error => console.log(error));
                //下拉選單預設
                this.cityVal = "default";
                this.distVal = "default";




            },
            computed: {
                //搜尋門市功能
                storeSearch() {
                    if (this.keyWord != "") {
                        //有搜尋關鍵字 下拉選單變回預設
                        this.cityVal = "default";
                        this.distVal = "default";
                        this.distList = [];
                        //傳回搜尋結果
                        this.storeList = [];
                        this.storeList = this.allStoreData.filter(searchResult => searchResult.StoreName.match(this.keyWord));
                    } else {
                        this.storeList = this.allStoreData;
                    }
                },
            },
        }
    )



</script>
