
@{
    ViewData["Title"] = "會員註冊";
}

<fieldset id="memberRegister">
    <legend>@ViewData["Title"]</legend>
    <fieldset>
        <form method="post" action="RegisterMember/memberRegister">
            <!--姓名-->
            <div class="row g-3 align-items-center">
                <div class="col-1">
                    <label for="InpLastName" class="form-label">姓　</label>
                </div>
                <div class="form-outline col-auto mr-4">
                    <input type="text" class="form-control form-control-sm" id="InpLastName" name="LastName">
                </div>
                <div class="col-auto">
                    <label for="InpFirstName" class="form-label">名　</label>
                </div>
                <div class="form-outline col-auto">
                    <input type="text" class="form-control form-control-sm" id="InpFirstName" name="FirstName">
                </div>
            </div>
            <div style="height:10px;display: inline-block;margin-bottom: 0;vertical-align: middle;"></div>
            <!--Email-->
            <div class="row g-3 align-items-center">
                <div class="col-1">
                    <label for="InpEmail" class="form-label">Email</label>
                </div>
                <div class="col-auto">
                    <input type="email" class="form-control form-control-sm" id="InpEmail" name="Email" required>
                </div>
            </div>
            <div style="height:10px;display: inline-block;margin-bottom: 0;vertical-align: middle;"></div>
            <!--密碼-->
            <div class="row g-3 align-items-center">
                <div class="col-1">
                    <label for="InpPassword" class="form-label">密碼</label>
                </div>
                <div class="col-auto">
                    <input type="password" class="form-control form-control-sm" id="InpPassword" name="Password">
                </div>
            </div>
            <div style="height:10px;display: inline-block;margin-bottom: 0;vertical-align: middle;"></div>
            <!--電話-->
            <div class="row g-3 align-items-center">
                <div class="col-1">
                    <label for="InpPhone" class="form-label">電話</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control form-control-sm" id="InpPhone" name="PhoneNumber">
                </div>
            </div>
            <div style="height:10px;display: inline-block;margin-bottom: 0;vertical-align: middle;"></div>
            <!--生日-->
            <div class="row g-3 align-items-center">
                <div class="col-1">
                    <label for="InpBirth" class="form-label">生日</label>
                </div>
                <div class="col-auto">
                    <input type="date" class="form-control form-control-sm" id="InpBirth" name="Birth">
                </div>
            </div>
            <div style="height:10px;display: inline-block;margin-bottom: 0;vertical-align: middle;"></div>
            <!--性別-->
            <div class="row g-3 align-items-center">
                <div class="col-1">
                    <label class="form-label">性別</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Gender" id="inlineRadioM" value="Male" />
                    <label class="form-check-label" for="inlineRadioM">男</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Gender" id="inlineRadioF" value="Female" />
                    <label class="form-check-label" for="inlineRadioF">女</label>
                </div>
            </div>
            <div style="height:10px;display: inline-block;margin-bottom: 0;vertical-align: middle;"></div>
            <!--地址-->
            <div class="row g-3 align-items-center">
                <div class="col-1">
                    <label for="InpAddress" class="form-label">地址</label>
                </div>
                <div class="col-auto">
                    <select id="county" class="form-select form-select-sm" placeholder="請選擇縣市" name="City" v-on:change="selectDistrict">
                        <!--縣市選單-->
                    </select>
                </div>
                <div class="col-auto">
                    <select id="district" class="form-select form-select-sm" placeholder="請選擇鄉鎮區" name="District">
                        <!--鄉鎮區選單-->
                    </select>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control form-control-sm" id="InpAddress" name="Address">
                </div>
            </div>
            <div style="height:50px;display: inline-block;margin-bottom: 0;vertical-align: middle;"></div>

            <button type="submit" class="btn btn-primary">提交</button>

        </form>

    </fieldset>
</fieldset>

<script>
    //初始化
    $(document).ready(
        function () {
            app.selectCounty();
        }
    );


    //Vue物件
    var app = new Vue(
        {
            el: '#memberRegister',
            data: {
                membersData: {}, //會員資料模組
            },//data
            methods: {
                //縣市選單
                selectCounty: function ()
                {
                    $.ajax(
                        {
                            url: '/CountyDistrict/readCounty',
                            type: 'GET',
                        })
                        .done(function (data, status, xhr) {
                            $.map(data, function (i) {
                                $('#county').append($('<option>').val(i.countyname).text(i.countyname));
                            });
                            app.selectDistrict();
                        })
                        .fail(function (xhr, status, error) {
                            alert("Error");
                        });
                },
                //鄉鎮市區選單
                selectDistrict: function () {
                    let countyValue = $('#county option:selected').val();
                    let jsonData = JSON.stringify(countyValue);
                    $.ajax(
                        {
                            url: '/CountyDistrict/readDistrict',
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("Content-Type", "application/json");
                            },
                            type: 'POST',
                            data: jsonData
                        })
                        .done(function (data, status, xhr) {
                            //清空option內容
                            $('#district').text("");
                            $.map(data, function (i) {
                                $('#district').append($('<option>').val(i.townname).text(i.townname));
                            });
                        })
                        .fail(function (xhr, status, error) {
                            alert("Error");
                        });
                }                
            }//methods
        }
    );
</script>