
@{
    ViewData["Title"] = "茶飲介紹";
}

@*綁vue*@
<div id="productsIntro">
    <!--product modal-->
    <div class="modal fade" tabindex="-1" id="productModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">茶飲介紹-{{modalData.name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img :src="modalData.imgUrl" :alt="modalData.name" style="width:50vw;" class="img-fluid mb-3" />
                    <h4 class="align-middle">{{modalData.name}}</h4>
                    <p class="">{{modalData.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <!--menu modal-->
    <div class="modal fade" tabindex="-1" id="menuModal">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{menuDistVal}}價目表</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img :src="imgUrl" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
    <!--Bootstrap廣告輪播功能-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@Url.Content("~/images/banner/tea-g27a7b882b_1280.jpg")" class="d-block w-100 img-fluid" />
            </div>
            <div class="carousel-item">
                <img src="@Url.Content("~/images/banner/tea-gea09fa6fc_1280.jpg")" class="d-block w-100 img-fluid" />
            </div>
            <div class="carousel-item">
                <img src="@Url.Content("~/images/banner/tea-time-ga80ac5a1b_1280.jpg")" class="d-block w-100 img-fluid" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--Title-->
    <div class="topic">
            <h3 class="h3">Products</h3>
        </div>
    <!--價目表查詢-->
    <div id="menu" class="mb-0 ">
        <select v-model="menuDistVal" class="form-select mb-2" id="menuSelect">
            <option value="" selected>查看區域價目表</option>
            <option :value="dist.item" v-for="dist in district">{{dist.item}}</option>
        </select>
        <button class="btn btn-dark" @@click="showMenu" data-bs-target="#menuModal"> <i class="fas fa-search"></i> </button>
    </div>
    <!--下拉選單-->
    <div id="selectStore" class="input-group ml-auto mr-auto">
        <!--選擇縣市-->
        <select v-model="cityVal" class="form-select m-1" @@change="qryCity(cityVal)">
            <option value="default">選擇縣市</option>
            <option :value="city" v-for="city in cityList">{{city}}</option>
        </select>
        <!--選擇地區-->
        <select v-model="distVal" class="form-select m-1" @@change="qryDist(distVal)">
            <option value="default">選擇地區</option>
            <option :value="dist" v-for="dist in distList">{{dist}}</option>
        </select>
        <!--選擇分店-->
        <select v-model="storeVal" class="form-select m-1" @@change="getCategory()">
            <option value="default">選擇分店</option>
            <option :value="store.storeID" v-for="store in storeList">{{store.storeName}}</option>
        </select>
    </div>

    <!--預設顯示分類及商品-->
    <div class="text-center min-vh-100">
        <div id="category" class="btn-group ">
            <span>
                <input type="radio" name="category" value="all" v-model="categorySelect" class="d-none btn-check" id="all" />
                <label class="btn btn-light btnCategory rounded-pill" for="all">全部商品</label>
            </span>
            <span v-for="c in productsCategory">
                <input type="radio" name="category" :value="c.categoryID" v-model="categorySelect" class="d-none btn-check" :id="c.categoryName" />
                <label class="btn btn-light btnCategory rounded-pill" :for="c.categoryName">{{c.categoryName}}</label>
            </span>
        </div>
        <!--商品清單card-->
        <div class="row">
            <div class="col-md-3" v-for="item in showProduct">
                <div class="card shadow-sm">
                    <img :src="item.picture" :alt="item.productName" data-bs-target="#productModal" data-bs-toggle="modal" @@click="modalProduct(item.productID)" class="pointer img-fluid card-img-top rounded" />
                    <div class="card-body">
                        <h5 class="card-title text-center">{{item.productName}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    var app = new Vue(
        {
            el: "#productsIntro",
            data: {
                menuDistVal: "",
                district: [
                    { item: "北部" },
                    { item: "中部" },
                    { item: "南部" },
                ],
                productsData: [], //全部商品資料
                productsCategory: [],
                imgUrl: "",
                categorySelect: "all", //預設全部商品
                modalData: {
                    imgUrl: "",
                    name: "",
                    description: "",
                },
                cityVal:"default", //預設
                distVal: "default",
                storeVal: "default",
                cityList: [],
                distList: [],
                storeList: [],

            },
            methods: {
                //變更城市下拉選單
                qryCity(city) {
                    //選單變回預設
                    this.distVal = "default";
                    this.storeVal = "default";
                    //清空選項
                    this.distList = [];
                    this.storeList = [];
                    if (this.cityVal !== "default") {
                        const qryServiceUrl = `/api/StoreService/${city}/dist`;
                        axios(qryServiceUrl)
                            .then(response => { this.distList = response.data })
                            .catch(error => console.log(error));
                    }
                },
                //變更區域下拉選單
                qryDist(dist) {
                    //選單變回預設
                    this.storeVal = "default";
                    //清空選項
                    this.storeList = [];
                    if (this.distVal !== "default") {
                        const qryServiceUrl = `/api/StoreService/${dist}/store`;
                        axios(qryServiceUrl)
                            .then(response => { this.storeList = response.data })
                            .catch(error => console.log(error));
                    }
                },
                //點擊顯示菜單
                showMenu() {
                    switch (this.menuDistVal) {
                        case this.district[0].item:
                            this.imgUrl = "/images/menu/menu1.jpg";
                            break;
                        case this.district[1].item:
                            this.imgUrl = "/images/menu/menu2.jpg";
                            break;
                        case this.district[2].item:
                            this.imgUrl = "/images/menu/menu3.jpg";
                            break;
                        default:
                            this.imgUrl = "";
                            break;
                    }
                    if (this.menuDistVal != "") {
                        $("#menuModal").modal('show');
                    }
                },
                //點擊商品圖片跳出modal
                modalProduct(id) {
                    const modalProduct = this.productsData.filter(x => x.productID == id);//只挑我點的那個商品
                    this.modalData.description = modalProduct[0].description;//商品描述
                    this.modalData.imgUrl = modalProduct[0].picture;//商品圖片
                    this.modalData.name = modalProduct[0].productName;//商品名稱
                },
                //取得分類和產品
                getCategory() {
                    //分類
                    axios.get(`/api/ProductsService/Category/${this.storeVal}`)
                        .then(response => { this.productsCategory = response.data })
                        .catch(error => console.log(error));
                    //產品
                    axios.get(`/api/ProductsService/Products/${this.storeVal}`)
                        .then(response => { this.productsData = response.data })
                        .catch(error => console.log(error));
                    
                }
            },
            computed: {
                //點分類篩選商品
                showProduct() {
                    const arr = { item: [] };
                    if (this.categorySelect == "all") {
                        //預設選全部商品
                        arr.item = this.productsData;
                    } else {
                        //有篩選
                        arr.item = this.productsData.filter(element => element.categoryID == this.categorySelect)
                    }
                    return arr.item;
                },

            },
            created: async function () {
                //取得城市清單
                await axios('/api/StoreService/city')
                    .then(response => { this.cityList = response.data })
                    .catch(error => console.log(error));


            },
        }
    )
</script>