
@{
    ViewData["Title"] = "TeaBar管理員註冊";
}

<fieldset id="ManagerRegister">
    <legend>@ViewData["Title"]</legend>
    <fieldset>
        <form method="post" action="taebarManagerRegister">
            <div style="height:10px;display: inline-block;margin-bottom: 0;vertical-align: middle;"></div>
            <!--Email-->
            <div class="row g-3 align-items-center">
                <div class="col-1">
                    <label for="InpEmail" class="form-label">Email</label>
                </div>
                <div class="col-auto">
                    <input type="email" class="form-control form-control-sm" id="InpEmail" name="Email" required>
                </div>
            </div>
            <div style="height:10px;display: inline-block;margin-bottom: 0;vertical-align: middle;"></div>
            <!--密碼-->
            <div class="row g-3 align-items-center">
                <div class="col-1">
                    <label for="InpPassword" class="form-label">密碼</label>
                </div>
                <div class="col-auto">
                    <input type="password" class="form-control form-control-sm" id="InpPassword" name="PasswordHash">
                </div>
            </div>
            <div style="height:50px;display: inline-block;margin-bottom: 0;vertical-align: middle;"></div>

            <button type="submit" class="btn btn-primary">註冊</button>
        </form>
    </fieldset>
</fieldset>
