
@{ ViewData["Title"] = "最新消息"; }
<fieldset id="newslist">
    <p class="fs-2 text-center font-weight-bold rounded mb-4 mt-4">@ViewData["Title"]</p>
    <!--即時公告顯示區塊-->
    <div class="container p-0">
        <div class="shadow p-3 mb-5 bg-body rounded" v-for="item in items">
            <!--News-->
            <div class="col">
                <div class="card mb-3" style="width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/images/image_news.png" class="img-fluid rounded pl-4">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold mb-3" style="background-color:lightgray;height:40px;padding-top:8px">{{item.topic}}</h5>
                                <p class="card-text fs-5" v-html="item.contentText"></p>
                                <p class="card-text fs-6"><small class="text-muted">{{item.time}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<<<<<<< HEAD
  
    
        <!--歷史公告顯示區塊-->
        <p class="bg-img-old fs-2 text-white text-center font-weight-bold rounded mb-4 mt-4">近期公告</p>
        <div class="container">
            <div class="row ">
                <div class="col-6" v-for="item in historyItems">
                    <div class="card shadow p-5  rounded card-height mb-3">
                        <img src="/images/image_news.png" class="img-fluid rounded pl-5">
                        <div class="card-body">
                            <!--歷史公告內容-->
                            <h5 class="card-title font-weight-bold mb-3" style="background-color:lightgray;height:40px;padding-top:8px">{{item.topic}}</h5>
                            <p class="card-text fs-6" v-html="item.contentText"></p>
                            <p class="card-text"><small class="text-muted">{{item.time}}</small></p>
                            <!--歷史公告內容-->
                        </div>
                    </div>
                    
                    
                </div>
=======
    </div>


    <!--歷史公告顯示區塊-->
    <p class="fs-2 text-center font-weight-bold rounded mb-4 mt-4">近期公告</p>
    <div class="container">
        <div class="row ">
            <div class="col-4" v-for="item in historyItems">
                <div class="card shadow p-2  rounded card-height mb-3 align-items-center">
                    <img src="/images/image_news.png" class="img-fluid rounded img-size">
                    <div class="card-body">
                        <!--歷史公告內容-->
                        <h5 class="card-title font-weight-bold mb-3" style="background-color:lightgray;height:40px;padding-top:8px">{{item.topic}}</h5>
                        <p class="card-text fs-6" v-html="item.contentText"></p>
                        <p class="card-text"><small class="text-muted">{{item.time}}</small></p>
                        <!--歷史公告內容-->
                    </div>
                </div>


>>>>>>> master
            </div>
            
        </div>

    </div>


</fieldset>

<script>
    //網頁初始化
    $(document).ready(
        function () {
            $.ajax({
                url: '/NewsPublish/GetNews',
                type: 'GET'
            }).done(function (data) {
                for (index = 0; index < data.length; index++) {
                    data[index].contentText = data[index].contentText.replace(/\n/g, "<br>");
                    data[index].time = data[index].time.split('T')[0];
                    app.historyItems.push(data[index]);
                }
                //WebSocket公告
                var client = new WebSocket("wss://iot.cht.com.tw:443/iot/ws/rawdata");
                client.onopen = function () {
                    let obj = { ck: "PKC4HAUS5RAGHMWZ2B", resources: ["/v1/device/28331841134/sensor/news/rawdata"] };
                    let jsonString = JSON.stringify(obj);
                    client.send(jsonString);
                };
                client.onmessage = function (msg) {
                    let wsObj = JSON.parse(msg.data);
                    let time = wsObj.time.split('T')[0];
                    let newsItem = JSON.parse(wsObj.value);
                    let topic = newsItem.topic;
                    let contentText = newsItem.contentText.replace(/\n/g, "<br>");
                    let curObj = { topic: topic, contentText: contentText, time: time };
                    app.items.unshift(curObj);
                };
            }).fail();
        }
    );

    var app = new Vue({
        el: '#newslist',
        data: {
            items: [],
            historyItems: []
        }
    });

</script>