
@{
    ViewData["Title"] = "密碼變更";
}

<fieldset id="memberPWD">

    <div class="password">
        <h4 class="fs-5 font-weight-bold mb-4">@ViewData["Title"]</h4>
        <form>
            <!--原密碼-->
            <div class="row align-items-center mb-4">
                <div class="col-3">
                    <label for="InpOldPassword" class="form-label">舊密碼　</label>
                </div>
                <div class="col-auto">
                    <input type="password" class="form-control form-control-sm" id="InpOldPassword" placeholder="請輸入舊密碼">
                </div>
            </div>
            <!--新密碼-->
            <div class="row align-items-center mb-4">
                <div class="col-3">
                    <label for="InpNewPassword" class="form-label">新密碼　</label>
                </div>
                <div class="col-auto">
                    <input type="password" class="form-control form-control-sm" id="InpNewPassword" placeholder="請輸入新密碼">
                </div>
            </div>
            <!--新密碼確認-->
            <div class="row align-items-center mb-4">
                <div class="col-3">
                    <label for="InpPasswordCheck" class="form-label">密碼確認</label>
                </div>
                <div class="col-auto">
                    <input type="password" class="form-control form-control-sm" id="InpPasswordCheck" placeholder="請再次輸入新密碼">
                </div>
            </div>
        </form>
        <!--觸發修改作業按鈕-->
        <button type="submit" class="btn btn-light float-right" v-on:click="PwdUpdate">確認變更</button>
    </div>





    <!--兩次密碼輸入不相同 對話盒-->
    <div class="modal fade" id="PwdErrorDialog" tabindex="-1" aria-labelledby="PwdErrorDialogLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="PwdErrorDialogLabel">Warning</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body align-items-center">
                    <i class="fas fa-exclamation-circle fa-2x" style="color:red"></i>
                    <p style="display:inline;font-size:large;"> 需輸入相同密碼！</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>

    <!--密碼變更結果 對話盒-->
    <div class="modal fade" id="PwdUpdateSuccessDialog" tabindex="-1" aria-labelledby="PwdUpdateSuccessDialogLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="PwdUpdateSuccessDialogLabel">密碼變更</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body align-items-center">
                    <i class="fas fa-info-circle fa-2x" style="color:lightskyblue"></i>
                    <p style="display:inline;font-size:large;"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
</fieldset>


<script>
    var app = new Vue({
        el: '#memberPWD',
        data: {
            pwdData: {}
        },
        methods: {
            PwdUpdate: function () {
                //兩次密碼輸入內容確認
                if ($('#InpNewPassword').val() != $('#InpPasswordCheck').val())
                {
                    $('#PwdErrorDialog').modal('show');
                    $('#InpNewPassword').val("");
                    $('#InpPasswordCheck').val("");
                }
                else
                {
                    //進行密碼更新作業
                    app.pwdData.OldPassword = $('#InpOldPassword').val();
                    app.pwdData.NewPassword = $('#InpNewPassword').val();
                    let jsonData = JSON.stringify(app.pwdData);
                    $.ajax({
                        url: '/MemberService/membersPwdUpdate',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Content-Type", "application/json")
                        },
                        type: 'PUT',
                        data: jsonData
                    }).done(function (data, status, xhr) {
                        $('#PwdUpdateSuccessDialog p').text(data);
                        $('#PwdUpdateSuccessDialog').modal('show');
                        $('#InpOldPassword').val("");
                        $('#InpNewPassword').val("");
                        $('#InpPasswordCheck').val("");
                    }).fail();
                }
            }
        }//methods
    });
</script>