<div id="result">

    <div class="card">
        <div class="card-header">
            <label>交易結果</label>
        </div>
        <div class="card-body">
            <table class="table">

                <tbody>
 
                    <tr v-if="isShow"> 
                        <td>消費總額</td>
                        <td>{{total}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <button class="btn btn-primary" v-on:click="SaveOrder">確認訂單</button>
</div>


<script>
    var app = new Vue({
        el: '#result',
        data: {
            code:1,
            ordersData: [],
            total: 0,
            isShow:false
        },
        mounted() {
            $.ajax({
                url:"@Url.Action("Readcart", "OrderAPI")",
                type:"GET",
                contentType: "application/json"
            }).done(
                function (data) {
                    app.ordersData = data;

                    for (let i = 0; i < app.ordersData.length; i++) {
                        app.total = app.total + app.ordersData[i].subtotal;
                    }
                    app.total = Math.round( app.total * app.ordersData[0].discount);
                   app.isShow = true;
                }).fail(
                    function (err) {
                    console.log(err.responseText);
                });
        },
        methods: {
          
            SaveOrder: function () {
                app.ordersData[0].orderID = app.code;
                var jsonstring = JSON.stringify(app.ordersData);
                console.log(jsonstring);
                $.ajax({
                    url: "@Url.Action("Saveorder","OrderAPI")",
                    type: "GET"
                }).done(function (msg) {
                console.log(msg);
                location.href = "@Url.Action("Index", "Home")";
                }).fail(function (err) {
                    alert(err.responseText);
            });

            }
        }


    });
</script>




