@using TFM10305.Models
@using Microsoft.AspNetCore.Html

@{
    ViewData["Title"] = "確認明細";
    List<Cart> result = ViewBag.cart as List<Cart>;
    IHtmlContent order1= Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(result));
}
<fieldset id="orderstep1">
    <div class="row">
        <div class="col-11">{{order1Data[0].CustomerId}} </div>
        <div class="col-1">$總額</div>
    </div>

    <div v-for="order in order1Data" class="container">
        <div class="row">{{order.ProductName}}</div>
        <div class="row">
            <div class="col">{{order.Icelevel}}/{{order.Sugarlevel}}/{{order.Ingredient}}</div>
        </div>
        <div class="row">
            <div class="col">$ {{order.UnitPrice*order.Quantity*(1-order.Discount/10)}}</div>
        </div>
        <div class="row"> 備註: {{order.Description}}</div>

    </div>
    <button>test</button>
</fieldset>
<script>
    var app = new Vue({
        el:'#orderstep1',
        data: {
            order1Data:@order1,
            total:0
        }
       
        
    });
 
</script>

