
@{
    ViewData["Title"] = "訂單管理系統";
}

<style>

    #title {
        position: center;
    }

    #textarea1 {
        border: 1px solid #999999;
        width: 100%;
        height: 150px;
        margin: 5px 0;
        padding: 3px;
    }

    #toptable {
        width: 100%;
    }

    #Toptable {
        background-color: cadetblue
    }


    .conten {
        position: center;
        box-sizing: border-box;
        z-index: 1;
        padding: 30px 60px;
        width: 530px;
        width: 87.5%;
        max-width: 900px;
        margin-bottom: 50px;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 0 12px 0 rgba(84, 84, 84, 0.3);
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
</style>



<fieldset id="order">

    <div id="title">
        <h3>@ViewData["Title"]</h3>
    </div>
    {{30*60}}

    <div>
        @*觸發作業按鈕*@
        <div>
            <button class="btn btn-primary" v-on:click="Showorder">查詢</button>
        </div>
    </div>

    <div class="all">

        <button class="btn btn-primary">回管理主畫面</button>

        <div id="app">
            <div>總共共{{quantity}}訂單</div>
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="tab">
                        <li class="nav-item">
                            <a class="nav-link" href="#" v-bind:class="{'active': visibility == 'all'}" v-on:click.prevent=" visibility ='all' ">全部</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#" v-bind:clas="{'active': visibility == 'doing'}" v-on:click.prevent=" visibility ='doing' ">進行中</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" v-bind:clas="{'active': visibility == 'done'}" v-on:click.prevent=" visibility ='done' ">已完成</a>
                        </li>
                    </ul>
                </div>
            </div>

            <table id="toptable">
                <thead id="Toptable">
                    <tr>
                        <th>

                            訂購ID
                        </th>
                        <th>
                            顧客ID
                        </th>
                        <th>
                            分店
                        </th>
                        <th>
                            訂購日期
                        </th>
                        <th>
                            折扣
                        </th>
                        <th>
                            訂單詳細
                        </th>
                    </tr>
                </thead>
                <template v-for="item in Orders">
                    <tr>
                        <td>
                            {{item.orderID}}
                        </td>

                        <td>
                            {{item.userID}}
                        </td>
                        <td>
                            {{item.storeID}}
                        </td>
                        <td>
                            {{item.orderDate}}
                        </td>
                        <td>
                            {{item.discountID}}
                        </td>
                        <td>
                            <button v-on:click="Details($event,item.orderID)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detail">
                                詳細
                            </button>
                            <button v-on:click="Temp($event,item.orderID)" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#delete">
                                刪除
                            </button>
                        </td>
                    </tr>
                </template>
            </table>
  
            @*詳細資訊觸發*@
            <div id="oderdetaildialog" title="詳細訂單">
                <div v-if="oderdetailshow">
                    <DetailDailog v-bind:customers="customer"></DetailDailog>
                </div>
            </div>


            <!-- 刪除Modal -->
            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">資料刪除確認</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            確定刪除訂單編號:"{{OrderObject.orderID}}"這筆訂單?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">返回</button>
                            <button v-on:click="Orderdelete" type="button" class="btn btn-danger">刪除</button>
                        </div>
                    </div>
                </div>
            </div>


            <!--  detail Modal -->
            <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">訂單詳細</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table style="width:700px;">
                                <tr>
                                    <td>訂單詳細編號</td>
                                    <td>訂單編號</td>
                                    <td>產品編號</td>
                                    <td>單價</td>
                                    <td>數量</td>
                                    <td>註記</td>
                                    <td>客製化</td>
                                </tr>
                                <template v-for="item in Orderdetail">
                                    <tr>
                                        <td>{{item.orderDetailID}}</td>

                                        <td>{{item.orderID}}</td>

                                        <td>{{item.productName}}</td>

                                        <td>{{item.unitPrice}}</td>

                                        <td>
                                            <input v-if="item.edit" v-model="item.quantity"
                                                   v-on:blur="item.edit = false; $emit('update')"
                                                   v-on:keyup.enter="Savetemp($event,item.orderID)">
                                            <div v-else>
                                                <label v-on:click="item.edit = true;">
                                                    <label  v-on:click ="Savetemp"><i class="fas fa-edit"></i>
                                                        {{item.quantity}}
                                                    </label>
                                                </label>
                                            </div>
                                        </td>
                                       
                                        <td>{{item.note}}</td>

                                        <td>{{item.customization}}</td>
                                    </tr>
                                </template>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <h1>總價:{{total}}</h1>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">返回</button>
                            <div>
                                <button class="btn btn-primary" v-on:click="Saveedit">儲存</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</fieldset>

<script>



    var app = new Vue(
        {
            el: '#order',

            data: {
                orderid: 0,
                orderdetail: '',
                oderdetailshow: false,
                checkboxArray: [],
                visibility: "all",
                Orders: [],
                OrderObject: {},
                Delete: false,
                Detail: false,
                Orderdetail: [{ 'quantity': 'Orderdetail.quantity', 'edit': false }],
                orderdetailobjact: {},
                quantity: 0,
                product: [],
                product1: [],
                productobject: {},
                isQuery: false,
                TotalPrice: [],
                total: 0,
                editobject: {},
                editedTodo: null,
            },
            //mounted: {
            //    Showorder: function () {
            //        Orders = [];
            //        let apiserver = '/api/OrderService/Showorder';
            //        $.ajax(
            //            {
            //                url: apiserver,
            //                type: 'GET',
            //                success: function (result, status) {
            //                    if (result.length == 0) {
            //                        alert('目前尚無訂單');
            //                    }
            //                    else {
            //                        app.quantity = result.length;
            //                        /*app.isQuery: true;*/
            //                        //app.orderid = result.orderId;
            //                        app.Orders = result;
            //                        //result.OrderId[0];
                                    
            //                    }
            //                }

            //            }
            //        );
            //    },

            //},

            methods:
            {

                Savetemp: function (e,id) {
                    Orders = [];
                    
                    let apiserver = '/api/OrderService/Showorder';
                    $.ajax(
                        {
                            url: apiserver,
                            type: 'GET',
                            success: function (result, status) {
                                if (result.length == 0) {
                                    alert('目前尚無訂單');
                                }
                                else {
                                    app.quantity = result.length;
                                    /*app.isQuery: true;*/
                                    //app.orderid = result.orderId;
                                    app.Orders = result;
                                    //result.OrderId[0];
                                    
                                }
                                //app.editobject = app.Orderdetail.find(o => o.orderID == id)
                                //console.log(app.editobject);
                            }

                        }
                    );
                },

                Showorder: function () {
                    Orders = [];
                    let apiserver = '/api/OrderService/Showorder';
                    $.ajax(
                        {
                            url: apiserver,
                            type: 'GET',
                            success: function (result, status) {
                                if (result.length == 0) {
                                    alert('目前尚無訂單');
                                }
                                else {
                                    app.quantity = result.length;
                                    /*app.isQuery: true;*/
                                    //app.orderid = result.orderId;
                                    app.Orders = result;
                                    //result.OrderId[0];
                                    console.log(app.orderid);
                                }
                            }

                        }
                    );
                },
                Temp: function (e, id) {
                    app.OrderObject = app.Orders.find(o => o.orderID == id);
                },
                Orderdelete: function (id) {
                    /*抓到Orders陣列裡的orderid,放入OrderObject物件準備刪除*/
                    let ooid = app.OrderObject.orderID;
                    /*console.log(id);*/
                    let index = app.Orders.indexOf(app.OrderObject);
                    app.Orders.splice(index, 1);
                    console.log("index=" + index);
                    let jasonstring = JSON.stringify(ooid);
                    console.log("data=" + jasonstring);
                    $.ajax(
                        {
                            url: "/api/OrderService/Delete/" + ooid,
                            type: 'DELETE',
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("Content-Type", "application/json")
                            },
                            //dataType:'application/json',
                            /*data: jasonstring*/

                        }
                    ).done(function () {
                        alert("OK");
                    }).fail(function () {
                        alert("Error");
                    });
                },
                Details: function (e, id) {
                    
                    app.Orderdetail = [];
                    app.product = [];
                    app.product1 = [];
                    app.productobject = {}

                    app.orderdetailobjact = app.Orders.find(o => o.orderID == id);//抓出該orderID
                    let detid = app.orderdetailobjact.orderID;/*抓出訂單ID*/

                    console.log(detid);

                    $.ajax({
                        url: '/api/OrderService/Detail/' + detid,
                        type: 'GET',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Content-Type", "application/json")
                        },
                        success(result, status, xhr) {
                            if (result.length == 0) {
                                alert('資料抓取錯誤');
                            }
                            else {
                                app.Orderdetail = result;
                                app.total = 0;
                           /*     app.PriceObject = app.Orderdetail.find(o => o.orderdetail == detid);*/
                                for (let i = 0; i < app.Orderdetail.length; i++) {
                                    app.TotalPrice.push(app.Orderdetail[i].unitPrice * app.Orderdetail[i].quantity);
                                    app.total = app.total + app.TotalPrice[i];
                                }

                            } 
                        }
                    });
                    app.total = 0;
                    app.Orderdetail.length = 0;
                    app.TotalPrice.length = 0;
                },

                Saveedit: function (id) {
                    app.Orderdetail = [];
                    let editid = app.Orderdetail.orderID;
                    let editjasonstring = JSON.stringify(editid);
                    console.log(editid);
                    $.ajax({
                        url: "/api/OrderService/Save/" + editid,
                        type: 'POST',

                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Content-Type", "application/json")
                        },

                    });
                },
                
                editTodo: function (todo) {
                    this.editedTodo = todo;
                },
            }//method

        });//Vue主體
</script>