@page
@model ResetPasswordConfirmationModel
@*@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>*@
<p>
    <h4> 密碼已重設。<a asp-page="./Login">請點此重新登入</a>。</h4>
</p>
