

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<div id="Vuechart">
    <h1>後台分析</h1>

    @*換頁按鈕*@
    <input type="button" onclick="javascript:location.href='/ProductManage/Index'" value="後台管理" class="alert-primary" />
    <br />
    <br />
    <div style="text-align:right; width: 300px ">
        <h2 style="color:darkslategrey"><b>各商家類別分析</b></h2>
        <input type="button" onclick="javascript:location.href='/ProductManageChart/StoreCategory'"
               value="進入" class="btn btn-outline-success" />
        <h2 style="color:darkslategrey"><b>產品訂單數量分析</b></h2>
        <input type="button" onclick="javascript:location.href='/ProductManageChart/ProductOrder'"
               value="進入" class="btn btn-outline-success" />
        <h2 style="color:darkslategrey"><b>分店訂單數量分析</b></h2>
        <input type="button" onclick="javascript:location.href='/ProductManageChart/StoreOrder'"
               value="進入" class="btn btn-outline-success" />
        <h2 style="color:darkslategrey"><b>商家商品數量分析</b></h2>
        <input type="button" onclick="javascript:location.href='/ProductManageChart/StoreProduct'"
               value="進入" class="btn btn-outline-success" />
 

 
