
@{
    ViewData["Title"] = "商店類別分析";
}

<h1>商店類別分析</h1>

<input type="button" onclick="javascript:location.href='/ProductManage/Index'" value="後台管理" class="alert-primary" />
<input type="button" onclick="javascript:location.href='/ProductManageChart/StoreCategory'" value="商店類別分析" class="btn btn-info rounded-pill" />
<input type="button" onclick="javascript:location.href='/ProductManageChart/ProductOrder'" value="產品訂單數量分析" class="btn btn-light rounded-pill" />
<input type="button" onclick="javascript:location.href='/ProductManageChart/StoreOrder'" value="分店訂單數量分析" class="btn btn-light rounded-pill" />
@*<input type="button" onclick="javascript:location.href='/ProductManageChart/StoreOrder" value="分店訂單數量分析" class="btn btn-light rounded-pill" />*@
<input type="button" onclick="javascript:location.href='/ProductManageChart/StoreProduct'" value="商家商品數量分析" class="btn btn-light rounded-pill" />

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div id="Vuechart">         
    @*圖表*@
    <canvas id="myChart" style="height:300px;width:80%"></canvas>
</div>

<script>

    if (location.href.indexOf('#reloaded') == -1) {
        location.href = location.href + "#reloaded";
        location.reload();
    }

    var app = new Vue(
        {
            el: '#Vuechart',
            
            mounted: function () {
                axios('/api/StoresApi/storeName')
                    .then(response => {
                        data.labels = response.data;
                    })//then(response =>
                //axios
                axios('/api/CategoriesApi/CategoryName')
                    .then(response => {
                        var resdata = response.data;
                        for (var index = 0; index < 3; index++) {
                            data.datasets[index].label = resdata[index];
                        }//for
                        axios('/api/CategoriesApi/CategoryQuantity')
                            .then(Quantity => {
                                var Q = Quantity.data;
                                for (var index1 = 0; index1 < 3; index1++) {
                                    for (var index2 = 0; index2 < 4; index2++) {
                                        data.datasets[index1].data.push(Q[index1][index2]);
                                    };
                                };                                

                                @* 顯示圖表 *@
                                myChart = new Chart(
                                    document.getElementById('myChart'),
                                    config
                                );//顯示圖表

                            })
                        //axios

                    })//then(response =>
                //axios

            },

        }
    )

    var data = {
        labels:'',
        datasets: [
            {
                 label: '種類1',
                 backgroundColor: 'rgb(255, 99, 132)',
                 borderColor: 'rgb(255, 99, 132)',
                 data: [],
            },
            {
                 label: '種類2',
                backgroundColor: 'blue',
                borderColor: 'rgb(255, 99, 132)',
                data: [],
            },
            {
                label: '種類3',
                backgroundColor: 'green',
                borderColor: 'rgb(255, 99, 132)',
                data: [],
            },
        ],

    };

    var config = {
        type: 'bar',
        data: data,
        options: {}
    };

</script>
