
@{
    ViewData["Title"] = "新增畫面";
}

<script>

    $(document).ready(
        function () {
            $("#dialog").modal("show");
        }
    );
</script>

<style>
    .modal-backdrop {
        background-color: rgb(160, 82, 5);
    }
</style>

<!-- Modal -->
<fieldset id="新增畫面">
    <div class="modal fade border border-5 border-success" id="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">新增畫面</h5>
                    @*X按鈕*@
                    @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
                </div>
                <div class="modal-body">
                    <div id="dialog">
                        <div id="Products" class="row">
                            @*enctype="multipart/form-data"才抓得到照片*@
                            <form enctype="multipart/form-data" action="~/ProductManage/upload" method="post">
                                <div>
                                    <label class="form-label">商品名稱:</label>
                                    <input class="form-control" type="text" required name="ProductName" />
                                </div>
                                <div>
                                    <label class="form-label">商品種類:</label>
                                    <select class="form-select" name="CategoryID" id="">
                                        <option v-for="item in categories" :value="item.categoryID">{{item.categoryName}}</option>
                                    </select>
                                </div>
                                <div>
                                    <label class="form-label">商品價格:</label>
                                    <input class="form-control" required name="UnitPrice" id="">
                                </div>
                                <div>
                                    <label class="form-label">商品介紹:</label>
                                    <textarea class="form-control" required name="Description" id="" maxlength="30" cols="30" rows="10"></textarea>
                                </div>
                                <div>
                                    <label class="form-label">商品圖片:</label>
                                    @*<input class="form-control" type="file" name="Picture" id="inp1" value="選擇圖片" />*@
                                    <input class="form-control" id="showPic" type="image" src="~/images/tea.jpg" alt="~/images/tea.jpg" name="Picture" style="width:300px;height:300px;" disabled="disabled"/>
                                    <label class="btn btn-secondary" style="margin-top: 5px; height: 40px">
                                        <input name="Picture" id="uploadImg" v-on:change="ChangePic" style="display:none;" type="file" accept="image/png, image/jpeg, image/gif, image/jpg" required >
                                        選擇圖片
                                    </label>
                                </div>
                                <br />
                                <div class="modal-footer">
                                    <button class="btn btn-light rounded-pill position-absolute bottom-0 start-50 ">確定新增</button>
                                    <input class="btn btn-dark  rounded-pill position-absolute bottom-0 end-0" type="button" onclick="javascript:location.href='Index'" value="取消新增" />
                                </div>
                                <br />
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<script>
    var app = new Vue(
        {
            el: '#新增畫面',
            data: {
                categories: [{
                    "categoryID": 0,
                    "categoryName": "請下拉選擇",
                    "products": null
                }]
            },
            mounted: function () {
                let self = this;
                fetch('/api/categoriesapi')
                    .then(function (productdata) {
                        return productdata.json();
                    })//回傳承諾轉json
                    .then(function (dataJson) {
                        for (let index = 0; index < dataJson.length; index++) {
                            self.categories.push(dataJson[index]);
                        }//逐一push進data:categories
                    });//.then(function (dataJson)
            },//mounted
            methods: {
                ChangePic: function () {

                    var reads = new FileReader();

                    f = document.getElementById('uploadImg').files[0];

                    reads.readAsDataURL(f);

                    reads.onload = function (e) {

                        document.getElementById('showPic').src = this.result;

                    };
                },
            }

        }
    );
</script>
