@model IEnumerable<TeaBar.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<h1>商品品項管理</h1>
<!--呈現處理結果-->
<div style="color:red"><h3>@ViewBag.Message</h3></div>

<input type="button" class="btn btn-light rounded-pill"
       onclick="javascript:location.href='/ProductManage/Create'" value="新增" />
@*分析*@
<input type="button" class="alert-primary"
       onclick="javascript:location.href='/ProductManageChart/StoreCategory'" value="後台分析" />

<div id="index" class="container-fluid">
    <div class="row">
        <div class="col-sm-4" v-for="item in products">
            <div class="card-body" style="width:auto;height:300px">
                @*圖片限制100px*100px*@
                <img :src="item.picture" class="card-img-bottom" alt="..." style="width:100px; height: 100px;" />
                @*<h4 class="card-title">商品編號:{{item.productID}}</h4>*@
                <h5 class="card-title">商品名稱:{{item.productName}}</h5>
                @*<p class="card-text">商品種類:{{item.categoryID}}</p>*@
                <p class="card-text">商品價格:{{item.unitPrice}}</p>
                <p class="card-text" style="height:60px"><small class="text-muted">商品介紹:{{item.description}}</small></p>
                @*修改刪除鈕*@
                <a class="abutton btn btn-primary rounded-pill" style="color:linen"  :href="'/ProductManage/Edit/' + item.productID" text-decoration: none>修改</a>
                <a class="abutton btn btn-danger rounded-pill" style="color:honeydew" :href="'/ProductManage/Delete/' + item.productID">刪除</a>
            </div>
        </div>
    </div>
</div>

<style>
    .abutton {
        text-decoration: none
    }
</style>

<script>
    var index = new Vue({
        el: '#index',
        data: {
            products: [
                @*假資料*@
                @*{
                    productID: 101,
                    categoryID: "茶類",
                    productName: "測試茶",
                    unitPrice: 40,
                    description: "測試茶葉",
                    picture: "\\images\\珍珠披薩.JPG"
                },
                {
                    productID: 102,
                    categoryID: "奶類",
                    productName: "測試奶茶",
                    unitPrice: 60,
                    description: "測試奶粉",
                    picture: "\\images\\珍珠披薩.JPG"
                }*@
            ]//data:products
        },//data
        mounted: function () {
            let self = this;
            fetch('/api/productsapi')
                .then(function (productdata) {
                    return productdata.json();
                })//回傳承諾轉json
                .then(function (dataJson) {
                    for (let index = 0; index < dataJson.length; index++) {
                        self.products.push(dataJson[index]);
                    }//逐一push進data:products
                });//.then(function (dataJson)
        }//mounted: function

    })//var index

</script>



