@model IEnumerable<TeaBar.Models.Products>

@{
    ViewData["Title"] = "商品頁面";
}

<style>
    body {
        background: url("/images/bg1.jpg") 100% 100%;
    }
</style>

<h4 class="font-weight-bold mt-4 mb-4">商品品項管理</h4>
<!--呈現處理結果-->
<div style="color:red"><h3>@ViewBag.Message</h3></div>
<div class="mb-4">
    <input type="button" class="btn btn-light rounded-pill mr-2"
           onclick="javascript:location.href='/ProductManage/Create'" value="新增" />
    @*分析*@
    <input type="button" class="btn btn-secondary rounded-pill"
           onclick="javascript:location.href='/ProductManageChart/StoreCategory'" value="後台分析" />
</div>

<div id="index" class="container-fluid">
    <div class="row">
        <div class="card shadow p-2 col-3 pt-4" style="width: 22rem;" v-for="item in products">
            @*圖片限制100px*100px*@
            <img :src="item.picture" class="mr-auto ml-auto" alt="..." style="width:200px; height: 100%;" />
            <div class="card-body">
                @*<h4 class="card-title">商品編號:{{item.productID}}</h4>*@
                <h5 class="card-title">商品名稱:{{item.productName}}</h5>
                @*<p class="card-text">商品種類:{{item.categoryID}}</p>*@
                <p class="card-text text-center">商品價格:{{item.unitPrice}}</p>
                <p class="card-text" style="height:60px"><small class="text-muted">商品介紹:{{item.description}}</small></p>
                @*修改刪除鈕*@
                <a class="abutton btn btn-primary rounded float-right" style="color:linen" :href="'/ProductManage/Edit/' + item.productID" text-decoration: none>修改</a>
                <a class="abutton btn btn-danger rounded float-right  mr-2" style="color:honeydew" :href="'/ProductManage/Delete/' + item.productID">刪除</a>
            </div>
        </div>
    </div>
</div>

<style>
    .abutton {
        text-decoration: none
    }
</style>

<script>
    var index = new Vue({
        el: '#index',
        data: {
            products: [
                @*假資料*@
                @*{
                    productID: 101,
                    categoryID: "茶類",
                    productName: "測試茶",
                    unitPrice: 40,
                    description: "測試茶葉",
                    picture: "\\images\\珍珠披薩.JPG"
                },
                {
                    productID: 102,
                    categoryID: "奶類",
                    productName: "測試奶茶",
                    unitPrice: 60,
                    description: "測試奶粉",
                    picture: "\\images\\珍珠披薩.JPG"
                }*@
            ]//data:products
        },//data
        mounted: function () {
            let self = this;
            fetch('/api/productsapi')
                .then(function (productdata) {
                    return productdata.json();
                })//回傳承諾轉json
                .then(function (dataJson) {
                    for (let index = 0; index < dataJson.length; index++) {
                        self.products.push(dataJson[index]);
                    }//逐一push進data:products
                });//.then(function (dataJson)
        }//mounted: function

    })//var index

</script>



