
@{
    ViewData["Title"] = "門市資訊";
}

<fieldset id="stores">
    <legend>@ViewData["Title"]</legend>
    <!--區塊上層-->
    <!--查詢結果輸出-->
    <fieldset>
        <form>
            <div style="height:10px;display: inline-block;margin-bottom: 0;vertical-align: middle;"></div>
            <!--Email-->
            <div class="row g-3 align-items-center">
                <div class="col-1">
                    <label for="InpEmail" class="form-label">Email</label>
                </div>
                <div class="col-auto">
                    <input type="email" class="form-control form-control-sm" id="InpEmail" v-model="storeData.Email" disabled>
                </div>
            </div>
            <div style="height:10px;display: inline-block;margin-bottom: 0;vertical-align: middle;"></div>
            <!--門市-->
            <div class="row g-3 align-items-center">
                <div class="col-1">
                    <label for="InpStoreName" class="form-label">門市</label>
                </div>
                <div class="form-outline col-auto mr-4">
                    <input type="text" class="form-control form-control-sm" id="InpStoreName" v-model="storeData.StoreName">
                </div>
            </div>
            <div style="height:10px;display: inline-block;margin-bottom: 0;vertical-align: middle;"></div>
            <!--電話-->
            <div class="row g-3 align-items-center">
                <div class="col-1">
                    <label for="InpStorePhone" class="form-label">電話</label>
                </div>
                <div class="col-auto">
                    <input type="email" class="form-control form-control-sm" id="InpStorePhone" v-model="storeData.StorePhone">
                </div>
            </div>
            <div style="height:10px;display: inline-block;margin-bottom: 0;vertical-align: middle;"></div>
            <!--地址-->
            <div class="row g-3 align-items-center">
                <div class="col-1">
                    <label for="InpAddress" class="form-label">地址</label>
                </div>
                <div class="col-auto">
                    <select id="county" class="form-select form-select-sm" placeholder="請選擇縣市" v-on:change="selectDistrict">
                        <!--縣市選單-->
                    </select>
                </div>
                <div class="col-auto">
                    <select id="district" class="form-select form-select-sm" placeholder="請選擇鄉鎮區">
                        <!--鄉鎮區選單-->
                    </select>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control form-control-sm" id="InpStoreAddress" v-model="storeData.StoreAddress">
                </div>
            </div>
            <div style="height:50px;display: inline-block;margin-bottom: 0;vertical-align: middle;"></div>
        </form>
    </fieldset>
    <!--查詢結果輸出-->
    <!--觸發修改作業按鈕-->
    <div>
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveDialog">儲存修改</button>
    </div>

    <!--確認儲存資料 對話盒-->
    <div class="modal fade" id="saveDialog" tabindex="-1" aria-labelledby="saveDialogLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="saveDialogLabel">門市資料變更</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">是否確定變更門市資料？</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" v-on:click="saveStoreInfo">儲存變更</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!--成功儲存資料 對話盒-->
    <div class="modal fade" id="saveSuccessDialog" tabindex="-1" aria-labelledby="saveSuccessDialogLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="saveSuccessDialogLabel">門市資料變更成功</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">門市資料已更新</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">確認</button>
                </div>
            </div>
        </div>
    </div>

</fieldset>


<script>
    //初始化--載入時進行查詢
    $(document).ready(
        function () {
            let qryService = '/StoreInfoService/storeInfoQry';
            $.ajax(
                {
                    url: qryService,
                    type: 'GET'
                }
            ).done(function (data, status, xhr) {
                app.storeData = JSON.parse(data);
                //設定初始縣市值為門市資料內的縣市值
                console.log(app.storeData);
                app.selectCounty();
            }).fail();
        }
    );


    //Vue物件
    var app = new Vue(
        {
            el: '#stores',
            data: {
                storeData: {}, //門市資料模組
            },//data
            methods: {
                //縣市選單
                selectCounty: function () {
                    $.ajax(
                        {
                            url: '/CountyDistrict/readCounty',
                            type: 'GET',
                        })
                        .done(function (data, status, xhr) {
                            $.map(data, function (i) {
                                $('#county').append($('<option>').val(i.countyname).text(i.countyname));
                                //設定預設值為與資料庫資料相同的縣市
                                if (app.storeData.StoreCity == i.countyname) {
                                    $('#county').get(0).value = i.countyname;
                                }
                            });
                            app.selectDistrict();
                        })
                        .fail(function (xhr, status, error) {
                            alert("Error");
                        });
                },
                //鄉鎮市區選單
                selectDistrict: function () {
                    let countyValue = $('#county option:selected').val();
                    let jsonData = JSON.stringify(countyValue);
                    $.ajax(
                        {
                            url: '/CountyDistrict/readDistrict',
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("Content-Type", "application/json");
                            },
                            type: 'POST',
                            data: jsonData
                        })
                        .done(function (data, status, xhr) {
                            //清空option內容
                            $('#district').text("");
                            $.map(data, function (i) {
                                $('#district').append($('<option>').val(i.townname).text(i.townname));
                                //設定預設值為與資料庫資料相同的鄉鎮市區
                                if (i.townname == app.storeData.StoreDistrict) {
                                    $('#district').get(0).value = i.townname;
                                }
                            });
                        })
                        .fail(function (xhr, status, error) {
                            alert("Error");
                        });
                },
                //門市資料更新
                saveStoreInfo: function () {
                    //更新門市資料模組
                    app.storeData.Email = $('#InpEmail').val();
                    app.storeData.StoreName = $('#InpStoreName').val();             
                    app.storeData.StorePhone = $('#InpStorePhone').val();
                    app.storeData.StoreCity = $('#county option:selected').text();
                    app.storeData.StoreDistrict = $('#district option:selected').text();
                    app.storeData.StoreAddress = $('#InpStoreAddress').val();
                    let jsonData = JSON.stringify(app.storeData);
                    console.log(jsonData);
                    //更新資料庫
                    $.ajax(
                        {
                            url: '/StoreInfoService/storeInfoUpdate',
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("Content-Type", "application/json");
                            },
                            type: 'PUT',
                            data: jsonData
                        })
                        .done(function (data, status, xhr) {
                            $('#saveDialog').modal('hide');
                            $('#saveSuccessDialog').modal('show');
                        })
                        .fail(function (xhr, status, error) {
                            alert(data.msg);
                        });
                }
            }//methods
        }
    );
</script>

